@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50;
}

/* *<===dark light background===>* */
.light-background {
  @apply bg-gradient-to-r from-[#e5f7f4] via-[#daeff3] to-[#efffff];
}

.dark-background {
  @apply dark:bg-gradient-to-br dark:from-slate-800 dark:to-indigo-800;
}

.myContainer {
  @apply w-full max-w-[1320px] mx-auto px-2;
}

.swiper-button-prev {
  @apply after:text-primaryColor1/80;
}

.swiper-button-next {
  @apply after:text-primaryColor1/80;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  /* Width of the vertical scrollbar */
  height: 12px;
  /* Height of the horizontal scrollbar */
  background-color: white !important;
  margin-top: 40px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-width: thin;
  /* Can be auto, thin, or none */
  scrollbar-color: #888 #f1f1f1;
  /* thumb color track color */
}

.rounded-full-ex {
  width: 40px;
  height: 20px;
  border-radius: 100%;
}

.grid-cols-custom {
  grid-template-columns: 1fr 3fr 1fr 1fr;
  align-items: center;
}

.grid-cols-custom-2 {
  grid-template-columns: 3fr 1fr;
}


input:disabled {
  background-color: #f5c6cb;
  /* Light red background */
  color: #721c24;
  /* Dark red text */
  border: 1px solid #f5c6cb;
  /* Border matching background */
}